/*Index.html CSS */

html,
body {
    margin: 0;
    padding: 0;
    /*without height = 100% won't show background img for index.html landing page */
    height: 100%;
    background-color: #6c8ba3;

}
.mainLobby{
    background-color: #e00f1f;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*Inner Body Home */
.createbtn {
    background-color: green;
    color: white;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    padding: 2%;
    margin: 1em;
    height: 2em;
}


.jumbotron {
    width: 50%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20%;
}

.jumboWord{
    text-align: center;
}

.scrollDown{
    position: absolute;
    bottom: 0;
    padding: 10px 10px;
    color: seashell;
    text-align: center;
    margin: 0 auto;
}
.backImg{
    background-image: url(https://static.pexels.com/photos/163828/poker-game-play-gambling-163828.jpeg);

    /* no-repeat 50% 50%*/
    height: 100%;
    width: 100%;
    max-width: none;
    display: table;
    top: 0;
    background-size: cover;
    /* position: center;*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.intro{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}


.intro .inner{
    /*display: table-cell;*/
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-top: 2.5%;

}

.content{
    max-width: 600px;
    margin: 0 auto;
    /*Padding Bottom is where the "welcome Log In" show up */
    padding-bottom: 30%;
    /* position: fixed;*/
    right: 0;
}

.gameInfo{
    text-align: center;
    text-decoration: none;
    border: solid #4c4f56;
    padding: 10px 20px;
    border-radius: 9px;
    background-color: white;
    position:center ;
}

.developers li {
    /*width:100px;*/
    /*margin: 0 auto;*/
    height: 25px;
    margin: 0 5px;
    display: inline;
    /*margin-right: 0px;*/
    padding: 0 20px;
    font-size: large ;
    text-decoration: underline ;
}

.btn{
    font-size: 135%;
    font-weight: 400;
    color: #4c4f56;
    text-transform: uppercase;
    text-decoration: none;
    border: solid #4c4f56;
    padding: 10px 20px;
    border-radius: 9px;
    background-color: white;


}
/*  Mobile Styles*/
@media only screen and (max-width: 445px){
    .content h1{
        font-size: 500%;
        font-weight: lighter;
        color: #000000;
        font-family: 'Georgia', sans-serif;
        display: inline;

    }
    .developers li, ul{
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: medium ;
        position: relative;
    }

}

/* Tablet Styles */
@media only screen and (min-width: 446px) and (max-width: 960px) {
    .content h1{
        font-size: 750%;
        font-weight: 100;
        color: #000000;
        font-family: 'Georgia', sans-serif;
        display: inline;

    }
    .gameInfo{
        text-align: center;
        text-decoration: none;
        border: solid #4c4f56;
        padding: 10px 20px;
        border-radius: 9px;
        background-color: white;
        position:relative ;

    }
    h2 {
        font-size: 150%;
    }
    h4{
        font-size: 100% ;
    }
    .developers li{
        vertical-align: middle;
        display: block;
        height: 15px;
        margin: 0;
        padding: 0;
        font-size: large ;
        position: relative;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .content h1{
        font-size: 900%;
        font-weight: 100;
        color: #000000;
        font-family: 'Georgia', sans-serif;
        display: inline;

    }

}









