.right {
  order: 2;
  width: 46%;
  text-align: left;
  padding: 4%;
}
.left {
  order: 1;
  width: 46%;
  border-right: #f3f3f3 solid 0.2em;
  text-align: left;
  padding: 4%;
}
.row {
  order: 1;
  display: flex;
  flex-direction: row;
}
h1 {
  display: block;
}
.column {
  width: 80%;
  max-width: 800px;
}
.or {
  text-align: center;
  padding: 3%;
}
.left,
.right {
  border: none;
}
.top {
  padding: 1em;
}
.bottom > a {
  text-decoration: underline;
  color: black;
}

a {
  text-decoration: none;
}
#logo {
  width: 5em;
  padding-bottom: 1em;
}
.bottom {
  order: 2;
  background-color: #f3f3f3;
  padding: 2em;
}

#register {
  padding-top: 1em;
}
#create {
  display: none;
}

.createbtn {
  background-color: black;
}

.leftbtn {
  width: 50%;
  order: 1;
  margin: auto;
  text-align: center;
}

#facebook {
  background-color: #34589d;
}
#google {
  background-color: #ff2711;
}
input {
  font-size: 1em;
  width: 90%;
  height: 2em;
  padding-left: 1em;
  margin-top: 1em;
  border: #f3f3f3 solid 2px;
}

input[type='checkbox'] {
  margin-top: 3em;
  width: 2em;
  font-size: 0.5em;
}

input[type='submit'] {
  background-color: #e00f1f;
  width: 95%;
  height: 3em;
  cursor: pointer;
  color: white;
  border: none;
  margin-bottom: 1em;
}
.createbtn {
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
  padding: 2%;
  margin: 1em;
  height: 2em;
}
.top {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 1em;
}
.column {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
