
html, body {
  margin: 0;
  padding: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
/*  background-color: #c4c2c2;*/
  background-color: #B2D6FF;
  max-height: 100%;
  height: 100%;
  overflow-y: hidden;
}

/* Chat Interface */

#chat .name {
    margin-right: 5px;
}
#chat .name:after {
    content: ':'
}
#chat, #left{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.chatInput{
    height: 5%;
}
.chat-input{
    height: 100%;
}
.chatBox{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

/* Utillities */

#mainScreen{
    min-height: 482.5px;
}

.center{
    text-align: center;
}
.b-bottom{
     border-bottom: black solid 2px;
 }
.scroll{
    overflow-y: auto;
}
.pad{
    padding: 1em;
}
.b-space{
    margin-bottom: 1em;
}

.danger{
    background: #e00f1f;
    margin-bottom: 1em;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

/* New Bootstrap things */
#navbarText > .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    font-size: 1.5em;
}

#navbarText > .navbar-nav > li {
  display: inline-block;
  float:none;
}

#logout{
  padding-right: 1em;
}

.sideTitle {
   height: 5%;
   vertical-align: middle;
   text-align: center;
   line-height: 2em;
   border-bottom: black solid 2px;
  background-color: #8399a8;
    color: ghostwhite;
  font-size: medium;

}

h1 {
      color: orange;
      font-size: 2.5em;
      font-family: 'Georgia', sans-serif;
      display: inline;
      margin: 0;
}
h2{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
.btn-link{
    font-size: medium;
}
.col-2, .col-8{
    padding: 0;
    border-top: black solid 2px;
}

#left {
  border-right: black solid 2px;
}
.right{
    padding-right: 15px;
    border-left: black solid 2px;
}

.navbar-light{
  background-color: #7496B0;
    height: 5%;
    padding-top: 0px;
}

.scroll{
    overflow-y: auto;

}
.lobbyChat{
    height:100px;
    border: 1px solid black;
}

#scratchLogo{
   padding-bottom: 1em;
}

ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
}

.top{
    height: 15%;
}
.fill{
    height: 95%;
}

#main{
    height: 95%;
}
.container{
    height: 100%;
    max-width: none;
}
.container-fluid{
    height: 85%;
}
.voidPad{
    padding: 0;
}

.modal-header{
    text-align: center;
    margin: 0 auto;

}
.modal-content{
    background-color: #B7D7EF;

}
.navbar-collapse.collapse {
    display: block!important;
}

#headingOne, #headingPlayersOne, #global-players, #lobby-players{
    height: 95%;
}

#headingTwo, #headingPlayersTwo{
    height: 95%;
    display: none;
}

#global-chat, #lobby-chat{
    height: 90%;
}

.pre-scrollable{
    min-height: 100%;
    max-height: 100%;
}
.tab-content{
    margin: 10px 10px;
}
.availableGames{
    background-color: #7496B0;
    font-size: large;
    cursor: pointer;
}
#GlobalLobbyWindow, #GlobalPlayerWindow, #GlobalChatWindow, #LobbyChatWindow{
    padding-left: 5px;
}

.mainItems{
    height: 100%;
}

/* lobyList */
#activeLobbies, #lobbylist{
    height: 100%;
}
#activeLobbiesBar{
    border-top: black solid 2px;
    height: 5%;
}
#gameTabs{
    height: 5%;
}
#mainLobbyList{
    min-height: 83%;
    max-height: 83%;
}

/* Lobby */
.bar{
    height: 5%;
}
.playerSpectatorList{
    height: 1.8em;
}
.scrollingList{
    min-height: 80%;
    max-height: 80%;
}
#gameSettingsSize{
    height: 60%;
}
.playerList{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body{
        margin: 0;
        padding: 0;
        text-align: center;
        overflow-y: auto;
    }


    .mainItems{
        display: table-header-group;
    }
    .onlinePlayers{
        display: table-footer-group;

    }
    .onlineChat{
        display: table-footer-group;
    }

    .fill{
        display: table;
        text-align: center;
        margin: 0 auto;
        height: auto;
        width: 100%;

    }
    .centerItems{
        margin-left: auto;
        margin-right: auto;

    }

    .modal-content{
        margin: 0 auto;
        text-align: center;
    }
    .nav-item{
        padding-left: 15px;
        padding-right: 15px;
    }

	.pre-scrollable{
        max-height: 100px;
        min-height: 100px;
    }

    .smallLines{
        border-top: black solid 2px;
        border-bottom: black solid 2px;
    }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    html, body{
        overflow-y: auto;
    }

    .mainItems{
        display: table-header-group;
    }
    .onlinePlayers{
        display: table-footer-group;

    }
    .onlineChat{
        display: table-footer-group;
    }

    .fill{
        display: table;
        /*text-align: center;*/
        margin: 0 auto;
        height: auto;
        width: 100%;

    }
    .centerItems{
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .col-2, .col-8{
        margin: 15px 15px;
    }
    .form-group{
        font-size: 1.3em;
    }

    .form-control{
        font-size: 0.8em;
    }

	.pre-scrollable{
        max-height: 100px;
        min-height: 100px;
    }

    .chatPadding{
        margin: 0px 0px;
    }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .modal-content{
        text-align: center;
    }
    .form-group{
        font-size: 1.3em;
    }
    .form-control{
        font-size: 0.8em;
    }

}

/* Screen height too small, add scrollbar */
@media only screen and (max-height: 600px){
    html, body{
        overflow-y: auto;
    }
}

/* Lobby screen width sizing */
@media only screen and (max-width: 467px){
    body.chrome .smallLines{
        border-top: black solid 2px;
        border-bottom: black solid 2px;
    }
}

@media only screen and (max-width: 507px){
    body.mozilla .smallLines{
        border-top: black solid 2px;
        border-bottom: black solid 2px;
    }
}

@media only screen and (max-width: 386px){
    #unoSettingLobby, #goFishSettingLobby, #dangerSettingLobby{
        height: 15%;
    }
}
