#start-game {
	position: fixed;
	left: 40vw;
	width: 20vw;
	height: 10vh;
	top: 45vh;
}
body {
	height: 100vh;
}
#game-table {
	background-color: #4a8939;
	width: 100%;
	height: 100%;
	position: relative;
}
.player-spot {
	position: absolute;
	width: 20%;
	height: 20%;
	border: 1px solid black;
	text-align: center;
	line-height: 100%;
	
}
#other-players {
	height: 80vh;
}
#my-cards {
	height: 20vh;
	display: inline-block;
	width: 100vw;
}
.card {
	display: inline-block;
	width: 60px;
	height: 86px;
	background-color: white;
	border-radius: 1vh;
	background-position: center;
	background-size: cover;
	line-height: 86px;
	text-align: center;
	transform: rotateX(180deg);
	backface-visibility: hidden;
}
.card-flip {
	
	animation: flip-card-rev 1s 1;
	animation-fill-mode: forwards;
}
.card-flipped {
	transform: rotateX(0deg) !important;
}
.card-suit-S {
	color: black;
	background-image: url("/Cards/Spades.png");
}
.card-suit-H {
	color: red;
	background-image: url("/Cards/Hearts.png");
}
.card-suit-D {
	color: red;
	background-image: url("/Cards/Diamonds.png");
}
.card-suit-C {
	color: black;
	background-image: url("/Cards/Clubs.png");
}
#card-deck {
	position: absolute;
	width: 60px;
	left: calc(50vw - 30px);
	height: 86px;
	top: calc(50vh + 10px);
	border: 1px dotted white;
}
.card-deck-card {
	width: 60px;
	height: 86px;
	background-position: center;
	background-size: cover;
	background-image: url("/Cards/Back.png");
	position: absolute;
	left: calc(50vw - 30px);
	top: calc(50vh + 10px);
}
@keyframes flip-card-rev {
	from {
		transform: rotateX(180deg);
	}
	to {
		transform: rotateX(0deg);
	}
}
@keyframes flip-card {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(180deg);
	}
}
.card-player-me {
	backface-visibility: hidden;
	animation: flip-card 1s 1;
	animation-fill-mode: forwards;
	
}

#instructions {
	border: 1px dashed white;
	border-radius: 8vh;
	
	position: absolute;
	left: 25vw;
	width: 50vw;
	top: 35vh;
	height: 15vh;
	color: white;
	text-align: center;
}

.user-message {
	position: fixed;
	background-color: #00b3ff;
	color: white;
	padding: 30px;
	
}
#my-messages {
	left: 40vw;
	bottom: 20vw;
	
}
