{
  "db": {
    "username": "<DBUsername>",
    "password": "<DBPassword>",
    "host": "<DBHost>",
    "port": "<DBPort>",
    "name": "<DBName>"
  },
  "mailer": {
    "service": "<nodemailerService>",
    "address": "<EmailFromAddress>",
    "username": "<EmailUsername>",
    "clientID": "<OAuthClientID",
    "clientSecret": "<OAuthClientSecret>",
    "accessToken": "<<OAuthAccessToken",
    "refreshToken": "<OAuthRefreshToken",
    "//" : "<AccessTokenExpiryDate> as number:"
    "expiryDate": 0
  },
  "session": {
    "secret": "<RandomString>"
  },
  "facebook": {
    "clientID": "<AppID>",
    "clientSecret": "<AppSecret>",
    "callbackURL": "/auth/facebook/callback"
  },
  "google": {
    "clientID": "<AppID>",
    "clientSecret": "<AppSecret>",
    "callbackURL": "/auth/google/callback"
  }
}
