{
  "db": {
    "username": "<DBUsername>",
    "password": "<DBPassword>",
    "host": "<DBHost>",
    "port": "<DBPort>",
    "name": "<DBName>"
  },
  "mailer": {
    "service": "<nodemailerService>",
    "address": "<EmailFromAddress>",
    "username": "<EmailUsername>",
    "password": "<EmailPassword>"
  },
  "session": {
    "secret": "<RandomString>"
  },
  "facebook": {
    "clientID": "<AppID>",
    "clientSecret": "<AppSecret>",
    "callbackURL": "/auth/facebook/callback"
  },
  "google": {
    "clientID": "<AppID>",
    "clientSecret": "<AppSecret>",
    "callbackURL": "/auth/google/callback"
  }
}
