html, body {
    width: 100%;
    height: 100%;
}
.choose-player-button {
	z-index: 99999999;
}

#start-game {
	position: fixed;
	left: 40%;
	width: 20%;
	height: 10%;
	top: 45%;
}
#game-table {
	background-color: #4a8939;
	width: 100%;
	height: 100%;
	position: relative;
}
.player-spot {
	position: absolute;
	width: 20%;
	height: 20%;
	border: 1px solid black;
	text-align: center;
	line-height: 100%;
	
}
#other-players {
	height: 80%;
}
#my-cards {
	height: 20%;
	display: inline-block;
	width: 100%;
}
.card {
	display: inline-block;
	width: 60px;
	height: 86px;
	background-color: white;
	border-radius: 1%;
	background-position: center;
	background-size: cover;
	line-height: 86px;
	text-align: center;
	transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
#last-played {
	position: absolute;
	width: 60px;
	left: calc(50% + 35px);
	height: 86px;
	top: calc(50% + 10px);
	border: 1px dotted white;
}
.card-flip {
	-moz-animation: flip-card-rev 1s 1;
	-moz-animation-fill-mode: forwards;
	animation: flip-card-rev 1s 1;
	animation-fill-mode: forwards;
}
.card-flipped {
	-moz-transform: rotateX(0deg) !important;
	transform: rotateX(0deg) !important;
}
.card-suit-S {
	color: black;
	background-image: url("/Cards/Spades.png");
}
.card-suit-H {
	color: red;
	background-image: url("/Cards/Hearts.png");
}
.card-suit-D {
	color: red;
	background-image: url("/Cards/Diamonds.png");
}
.card-suit-C {
	color: black;
	background-image: url("/Cards/Clubs.png");
}
#card-deck {
	position: absolute;
	width: 60px;
	left: calc(50% - 30px);
	height: 86px;
	top: calc(50% + 10px);
	border: 1px dotted white;
}
.card-deck-card {
	width: 60px;
	height: 86px;
	background-position: center;
	background-size: cover;
	background-image: url("/Cards/Back.png");
	position: absolute;
	left: calc(50% - 30px);
	top: calc(50% + 10px);
}
@keyframes flip-card-rev {
	from {
		transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
	}
	to {
		transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
	}
}
@keyframes flip-card {
	from {
		transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
	}
	to {
		transform: rotateX(180deg);
		-moz-transform: rotateX(180deg);
	}
}
.card-player-me {
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	animation: flip-card 1s 1;
	-moz-animation: flip-card 1s 1;
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	
}

#instructions {
	border: 1px dashed white;
	border-radius: 8px;
	
	position: absolute;
	left: 25%;
	width: 50%;
	top: 35%;
	height: 15%;
	color: white;
	text-align: center;
}

.user-message {
	position: fixed;
	background-color: #00b3ff;
	color: white;
	padding: 30px;
	
}
#my-messages {
	left: 40%;
	bottom: 20%;
	
}


#select-suit {
	position: fixed;
	background-color: white;
	left: 30%;
	width: 40%;
	height: 40%;
	top: 30%;
}
#select-swap-or-skip {
	position: fixed;
	background-color: white;
	left: 30%;
	width: 40%;
	height: 40%;
	top: 30%;
}
.disabled-card {
	background-color: #d0d0d0 !important;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
} 
